/* color palette */
:root {
  --color-text-main: #000000;
  --color-text-sub: #FFFAF1;
  --color-text-accent: #FFC3BB;
  --color-text-accent-v2: #f1d1a0;
  --color-border: #6F6F6F;
  --homepage-gradient-one: #7735E4;
  --homepage-gradient-two: #DA70A9;
  --homepage-gradient-three: #EA8EA4;
  --homepage-gradient-four: #f1d1a0;

  --bg-color-v1: #FFC3BB;
  --bg-color-about: #FFFAF1;

  --font-size-sm: clamp(0.87rem, 0.14vw + 0.67rem, 1rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.84rem, 2.68vw + 2.05rem, 3.15rem);
  --font-size-xxl: clamp(2.84rem, 2.68vw + 2.05rem, 4rem);

  --common-font-family: 'Red Hat Display', sans-serif;
  --brand-font-family: 'Pattaya', sans-serif;

  --max-width: 75em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-main);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--common-font-family), Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}