@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./base.css";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button:hover,
a:hover {
  cursor: pointer;
}

#Groomify {
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(296.37deg, #FFD494 6.69%, rgba(255, 190, 169, 0) 33.83%),linear-gradient(129.1deg, #EA8EA4 -1.7%, rgba(253, 229, 178, 0) 72.42%),linear-gradient(26.22deg, #7735E4 2.78%, #DA70A9 30.98%, #F3C690 53.17%);
}

#root,
#__next {
  isolation: isolate;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text-sub);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Styling for sections */

.service-wrapper:nth-child(1n + 2)>div>div>p::before {
  content: "$";
}

.grid {
  max-width: var(--max-width);
}