@import "./base.css";

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

#root,
#__next {
  isolation: isolate;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text-sub);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Styling for sections */
section {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(9, 1fr); */
}